{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/fener1.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="margin-bottom:20px">Log In</h1>
            <span style="margin-bottom:80px" class="subheading">Welcome to the Forum</span>
          </div>
        </div>
      </div>
    </div>
  </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p style="text-align:center; color:red">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  <div class="container">
    <div class="row">


      <div class="col-lg-8 col-md-10 mx-auto content">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>

  <hr style="margin-top:50px">
{% include "footer.html" %}
{% endblock %}